.board {
  padding: 20px;
}

.clear {
  clear: both;
}

/* Default cell is 20x20 */
.cell {
  height: 30px;
  width:  30px;
  float: left;
}

/* Odd rows (1 indexed) are between spaces */
.row:nth-child(odd) .cell {
  height: 5px;
}

/* Odd columns (1 indexed) are between spaces */
.cell:nth-child(odd) {
  width: 5px;
}

/* Walls block movement */
.row .cell:nth-child(odd).wall, .row:nth-child(odd) .cell.wall {
  background-color: black;
}


/* Grid separators */
.row:nth-child(odd) .cell:not(.wall), .row .cell:nth-child(odd):not(.wall) {
  background-color: lightgray;
}
